openapi: 3.2.0
info:
  title: GoCardless REST Subscriptions API
  version: '2015-07-06'
  description: 'Subset of the public GoCardless REST API for collecting bank debit and

    open-banking payments. Authentication uses a Bearer access token issued

    from the dashboard. Every request must include the

    `GoCardless-Version` header.'
  contact:
    name: GoCardless Developers
    url: https://developer.gocardless.com/
servers:
- url: https://api.gocardless.com
  description: Live
- url: https://api-sandbox.gocardless.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Subscriptions
paths:
  /subscriptions:
    get:
      tags:
      - Subscriptions
      summary: List subscriptions
      operationId: listSubscriptions
      responses:
        '200':
          description: OK
    post:
      tags:
      - Subscriptions
      summary: Create a subscription
      operationId: createSubscription
      responses:
        '201':
          description: Created
  /subscriptions/{id}:
    get:
      tags:
      - Subscriptions
      summary: Get a subscription
      operationId: getSubscription
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - Subscriptions
      summary: Update a subscription
      operationId: updateSubscription
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /subscriptions/{id}/actions/cancel:
    post:
      tags:
      - Subscriptions
      summary: Cancel a subscription
      operationId: cancelSubscription
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: GoCardless access token from the dashboard
