openapi: 3.1.0
info:
  title: GoCardless REST billing_request_flows refunds API
  version: '2015-07-06'
  description: 'Subset of the public GoCardless REST API for collecting bank debit and

    open-banking payments. Authentication uses a Bearer access token issued

    from the dashboard. Every request must include the

    `GoCardless-Version` header.

    '
  contact:
    name: GoCardless Developers
    url: https://developer.gocardless.com/
servers:
- url: https://api.gocardless.com
  description: Live
- url: https://api-sandbox.gocardless.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: refunds
paths:
  /refunds:
    get:
      tags:
      - refunds
      summary: List refunds
      operationId: listRefunds
      responses:
        '200':
          description: OK
    post:
      tags:
      - refunds
      summary: Create a refund
      operationId: createRefund
      responses:
        '201':
          description: Created
  /refunds/{id}:
    get:
      tags:
      - refunds
      summary: Get a refund
      operationId: getRefund
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - refunds
      summary: Update a refund
      operationId: updateRefund
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: GoCardless access token from the dashboard
