openapi: 3.1.0
info:
  title: GoCardless REST billing_request_flows instalment_schedules API
  version: '2015-07-06'
  description: 'Subset of the public GoCardless REST API for collecting bank debit and

    open-banking payments. Authentication uses a Bearer access token issued

    from the dashboard. Every request must include the

    `GoCardless-Version` header.

    '
  contact:
    name: GoCardless Developers
    url: https://developer.gocardless.com/
servers:
- url: https://api.gocardless.com
  description: Live
- url: https://api-sandbox.gocardless.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: instalment_schedules
paths:
  /instalment_schedules:
    get:
      tags:
      - instalment_schedules
      summary: List instalment schedules
      operationId: listInstalmentSchedules
      responses:
        '200':
          description: OK
    post:
      tags:
      - instalment_schedules
      summary: Create an instalment schedule
      operationId: createInstalmentSchedule
      responses:
        '201':
          description: Created
  /instalment_schedules/{id}:
    get:
      tags:
      - instalment_schedules
      summary: Get an instalment schedule
      operationId: getInstalmentSchedule
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: GoCardless access token from the dashboard
