openapi: 3.1.0
info:
  title: GoCardless REST billing_request_flows customer_bank_accounts API
  version: '2015-07-06'
  description: 'Subset of the public GoCardless REST API for collecting bank debit and

    open-banking payments. Authentication uses a Bearer access token issued

    from the dashboard. Every request must include the

    `GoCardless-Version` header.

    '
  contact:
    name: GoCardless Developers
    url: https://developer.gocardless.com/
servers:
- url: https://api.gocardless.com
  description: Live
- url: https://api-sandbox.gocardless.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: customer_bank_accounts
paths:
  /customer_bank_accounts:
    get:
      tags:
      - customer_bank_accounts
      summary: List customer bank accounts
      operationId: listCustomerBankAccounts
      responses:
        '200':
          description: OK
    post:
      tags:
      - customer_bank_accounts
      summary: Create a customer bank account
      operationId: createCustomerBankAccount
      responses:
        '201':
          description: Created
  /customer_bank_accounts/{id}:
    get:
      tags:
      - customer_bank_accounts
      summary: Get a customer bank account
      operationId: getCustomerBankAccount
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - customer_bank_accounts
      summary: Update a customer bank account
      operationId: updateCustomerBankAccount
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: GoCardless access token from the dashboard
