openapi: 3.1.0
info:
  title: GoCardless REST billing_request_flows billing_requests API
  version: '2015-07-06'
  description: 'Subset of the public GoCardless REST API for collecting bank debit and

    open-banking payments. Authentication uses a Bearer access token issued

    from the dashboard. Every request must include the

    `GoCardless-Version` header.

    '
  contact:
    name: GoCardless Developers
    url: https://developer.gocardless.com/
servers:
- url: https://api.gocardless.com
  description: Live
- url: https://api-sandbox.gocardless.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: billing_requests
paths:
  /billing_requests:
    get:
      tags:
      - billing_requests
      summary: List billing requests
      operationId: listBillingRequests
      responses:
        '200':
          description: OK
    post:
      tags:
      - billing_requests
      summary: Create a billing request
      operationId: createBillingRequest
      responses:
        '201':
          description: Created
  /billing_requests/{id}:
    get:
      tags:
      - billing_requests
      summary: Get a billing request
      operationId: getBillingRequest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: GoCardless access token from the dashboard
