openapi: 3.2.0
info:
  title: GoCardless REST Mandates API
  version: '2015-07-06'
  description: 'Subset of the public GoCardless REST API for collecting bank debit and

    open-banking payments. Authentication uses a Bearer access token issued

    from the dashboard. Every request must include the

    `GoCardless-Version` header.'
  contact:
    name: GoCardless Developers
    url: https://developer.gocardless.com/
servers:
- url: https://api.gocardless.com
  description: Live
- url: https://api-sandbox.gocardless.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Mandates
paths:
  /mandates:
    get:
      tags:
      - Mandates
      summary: List mandates
      operationId: listMandates
      responses:
        '200':
          description: OK
    post:
      tags:
      - Mandates
      summary: Create a mandate
      operationId: createMandate
      responses:
        '201':
          description: Created
  /mandates/{id}:
    get:
      tags:
      - Mandates
      summary: Get a mandate
      operationId: getMandate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - Mandates
      summary: Update a mandate
      operationId: updateMandate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /mandates/{id}/actions/cancel:
    post:
      tags:
      - Mandates
      summary: Cancel a mandate
      operationId: cancelMandate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: GoCardless access token from the dashboard
