openapi: 3.1.0
info:
  title: GoCardless REST billing_request_flows customers API
  version: '2015-07-06'
  description: 'Subset of the public GoCardless REST API for collecting bank debit and

    open-banking payments. Authentication uses a Bearer access token issued

    from the dashboard. Every request must include the

    `GoCardless-Version` header.

    '
  contact:
    name: GoCardless Developers
    url: https://developer.gocardless.com/
servers:
- url: https://api.gocardless.com
  description: Live
- url: https://api-sandbox.gocardless.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: customers
paths:
  /customers:
    get:
      tags:
      - customers
      summary: List customers
      operationId: listCustomers
      responses:
        '200':
          description: OK
    post:
      tags:
      - customers
      summary: Create a customer
      operationId: createCustomer
      responses:
        '201':
          description: Created
  /customers/{id}:
    get:
      tags:
      - customers
      summary: Get a customer
      operationId: getCustomer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - customers
      summary: Update a customer
      operationId: updateCustomer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: GoCardless access token from the dashboard
